html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    color: #666;
}

a {
    color: #1461fb;
}

#filter-users, table {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.small {
    font-size: 10px;
}

.sorting {
    font-size: 6px;
    vertical-align: middle;
    display: inline-block;
}

.photo {
    width: 50px;
}

.fullname {
    width: 100px;
    vertical-align: top;
}

.label {
    width: 150px;
    display: inline-block;
    text-align: right;
}

@media (max-width: 1024px) {
    .notes {
        display: none;
    }
}